<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:fragment="footer" class="footer-widgets-wrap clearfix row">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="widget clearfix">
                    <a href="https://ec.europa.eu/inea/en/connecting-europe-facility">
                        <img src="http://dss.aegean.gr:8080/img/en_cef.jpg" alt="" class="footer-logo">
                    </a>
                    <!--                                <p>Co-financed by the European Union Connecting Europe Facility</p>-->
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="widget clearfix">
                    <!--<p><a href="http://www.aegean.gr/" target="_blank">UAegean</a> Online Community Student Program | P2P Communities Project (Software provided by <a href="https://app.teem.works/teems/featured" target="_blank">Teem</a> and <a href="http://swellrt.org/" target="_blank">SwellRT</a>). The use of eIDAS Network for the authentication into UAegean P2P Communities has been funded by the European Commission (<a href="https://ec.europa.eu/inea/en/connecting-europe-facility/cef-telecom" target="_blank">CEF Programme</a> - Agreement No INEA/CEF/ICT/A2015/1147836)</p>-->
                    <p style="font-size: 0.8rem;">Integration of the UAegean Smart Class Services with the eIDAS Network has been implemented by <a href="http://www.atlantis-group.gr" target="_blank"> UAegean | i4m Lab</a>, and funded by the European Commission (<a href="https://ec.europa.eu/inea/en/connecting-europe-facility/cef-telecom" target="_blank">CEF Programme</a> - Agreement No INEA/CEF/ICT/ A2015/1147836)</p>
                </div>
            </div>

            <div class="col-sm-2 col-md-2 col-lg-2">
                <!--                            <img src="images/open-source-initiative.png" alt="" class="footer-logo"   style="margin-bottom: 0;" >
                                            <p style="font-size: 0.8rem;clear: both;">Developed with Open Source Software (OSS)</p>-->
                <a href="http://opensource.org/">
                    <p style="font-size: 0.8rem;clear: both;">Developed with <br> Open Source Software (OSS)</p>

                </a>

            </div>

        </div>
    </body>
</html>
