<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>This is the landing page</div>

        <!--        <button id="login" onclick="login()">Login</button>
                <button id="register" onclick="register()">Register</button>-->
        <button id="test" onclick="test()">Set Dummy JWT cookie</button>
        <button id="test" onclick="physical()">Gain Physical Access</button>


        <div>
            <select id="roomSelect">
                Select class room:
                <option value=""> -- </option>
                <option th:each="room : ${classRooms}"
                        th:value="${room.id}"
                        th:utext="${room.name}"/>
            </select>
        </div>




        <button id="test" onclick="team()">Join Team </button>


        <div>
            Select skype conference:
            <select id="skypeSelect">
                <option value=""> -- </option>
                <option th:each="room : ${skypeRooms}"
                        th:value="${room.id}"
                        th:utext="${room.name}"/>
            </select>
        </div>
        <button id="test" onclick="skype()">Join Skype</button>

        <script>
            function setCookie(name, value, days) {
                var expires = "";
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                    expires = "; expires=" + date.toUTCString();
                }
                document.cookie = name + "=" + (value || "") + expires + "; path=/";
            }

//            function login(){
//                setCookie("flow","login",1);
//            }
//            
//            function register(){
//                setCookie("flow","register",1);
//            }

            function physical() {
                var e = document.getElementById("roomSelect");
                var roomId = e.options[e.selectedIndex].value;
                setCookie("type", "physical-"+roomId, 1);
            }

            function skype() {
                var e = document.getElementById("skypeSelect");
                var roomId = e.options[e.selectedIndex].value;
                setCookie("type", "skype-" + roomId, 1);
            }

            function team() {
                setCookie("type", "team", 1);
            }

            function test() {
//                setCookie("access_token", "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ7XCJmaXJzdE5hbWVcIjpcIs6nzqHOmc6jzqTOmc6dzpEsIENIUklTVElOQVwiLFwiZWlkXCI6XCJHUi9HUi9FUk1JUy01ODMzMzk0N1wiLFwiZmFtaWx5TmFtZVwiOlwizqDOkc6bzpnOn86azqnOo86kzpEsIFBBTElPS09TVEFcIixcInBlcnNvbklkZW50aWZpZXJcIjpcIkdSL0dSL0VSTUlTLTU4MzMzOTQ3XCIsXCJkYXRlT2ZCaXJ0aFwiOlwiMTk4MC0wMS0wMVwifSJ9.LSODk5diBNmbIwuVN3C-22PpFckaYgih4S7ZS0wpbKM", 1);
                 //       
//                 setCookie("access_token", "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ7XCJmaXJzdE5hbWVcIjpcIs6Rzp3OlM6hzpXOkc6jLCBBTkRSRUFTXCIsXCJlaWRcIjpcIkdSL0dSL0VSTUlTLTExMDc2NjY5XCIsXCJmYW1pbHlOYW1lXCI6XCLOoM6VzqTOoc6fzqUsIFBFVFJPVVwiLFwicGVyc29uSWRlbnRpZmllclwiOlwiR1IvR1IvRVJNSVMtMTEwNzY2NjlcIixcImRhdGVPZkJpcnRoXCI6XCIxOTgwLTAxLTAxXCJ9In0.QjyOqUi8kzU7Srn1FgekuQyn-REWwOWLKKmQAz92O48", 1);
                 //
                 setCookie("access_token", "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ7XCJlaWRcIjpcIkdSL0dSL0VSTUlTLTY0NzkyODIyXCIsXCJwZXJzb25JZGVudGlmaWVyXCI6XCJHUi9HUi9FUk1JUy02NDc5MjgyMlwiLFwiZGF0ZU9mQmlydGhcIjpcIjE5ODAtMDEtMDFcIixcImN1cnJlbnRGYW1pbHlOYW1lXCI6XCLOoM6RzqDOkc6UzpfOnM6XzqTOoc6RzqTOn86jXCIsXCJjdXJyZW50R2l2ZW5OYW1lXCI6XCLOms6lzqHOmc6RzprOn86jXCJ9In0.CvzVoqJj6KC5irNIfxf6NqqHnZCC9M7-bWMax6wEx8I", 1);
    }

        </script>
    </body>
</html>
