<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>This is the landing page</div>

<!--        <button id="login" onclick="login()">Login</button>
        <button id="register" onclick="register()">Register</button>-->
        <button id="test" onclick="test()">Set Dummy JWT cookie</button>
        <button id="test" onclick="physical()">Gain Physical Access</button>
        <button id="test" onclick="team()">Join Team </button>
        <button id="test" onclick="skype()">Join Skype</button>

        <script>
            function setCookie(name, value, days) {
                var expires = "";
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                    expires = "; expires=" + date.toUTCString();
                }
                document.cookie = name + "=" + (value || "") + expires + "; path=/";
            }
            
//            function login(){
//                setCookie("flow","login",1);
//            }
//            
//            function register(){
//                setCookie("flow","register",1);
//            }
            
            function physical(){
                setCookie("type","physical",1);
            }
            
            function skype(){
                setCookie("type","skype",1);
            }
            
            function team(){
                setCookie("type","team",1);
            }
            
            function test(){
                setCookie("access_token","eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ7XCJmaXJzdE5hbWVcIjpcIs6Rzp3OlM6hzpXOkc6jLCBBTkRSRUFTXCIsXCJlaWRcIjpcIkdSL0dSL0VSTUlTLTExMDc2NjY5XCIsXCJmYW1pbHlOYW1lXCI6XCLOoM6VzqTOoc6fzqUsIFBFVFJPVVwiLFwicGVyc29uSWRlbnRpZmllclwiOlwiR1IvR1IvRVJNSVMtMTEwNzY2NjlcIixcImRhdGVPZkJpcnRoXCI6XCIxOTgwLTAxLTAxXCJ9In0.QjyOqUi8kzU7Srn1FgekuQyn-REWwOWLKKmQAz92O48",1);
            }

        </script>
    </body>
</html>
