<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>This is the landing page</div>

        <!--        <button id="login" onclick="login()">Login</button>
                <button id="register" onclick="register()">Register</button>-->
        <!--        <button id="test" onclick="test()">Set Dummy JWT cookie</button>-->
        <div>        
            <button id="test" onclick="physical()">Gain Physical Access</button>
            <select id="roomSelect">
                Select class room:
                <option value=""> -- </option>
                <option th:each="room : ${classRooms}"
                        th:value="${room.id}"
                        th:utext="${room.name}"/>
            </select>
        </div>




        <button id="test" onclick="team()">Join Team </button>


        <div>
            <button id="test" onclick="skype()">Join Skype</button>
            Select skype conference:
            <select id="skypeSelect">
                <option value=""> -- </option>
                <option th:each="room : ${skypeRooms}"
                        th:value="${room.id}"
                        th:utext="${room.name}"/>
            </select>
        </div>


        <script>
            function setCookieAndRedirect(name, value, days) {
                var expires = "";
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                    expires = "; expires=" + date.toUTCString();
                }
                document.cookie = name + "=" + (value || "") + expires + "; path=/";
                let typeCookie = getCookie("type");
                let authCookie = getCookie("access_token");
                if (typeCookie == "" || authCookie == "") {
                    window.location.replace("http://195.251.134.160:9091/login");
                } else {
                    window.location.href = "/eIDASSuccess";
                }
            }



            function physical() {
                var e = document.getElementById("roomSelect");
                var roomId = e.options[e.selectedIndex].value;
                setCookieAndRedirect("type", "physical-" + roomId, 1);
            }

            function skype() {
                var e = document.getElementById("skypeSelect");
                var roomId = e.options[e.selectedIndex].value;
                setCookieAndRedirect("type", "skype-" + roomId, 1);
            }

            function team() {
                setCookieAndRedirect("type", "team", 1);
            }

            function getCookie(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }

        </script>
    </body>
</html>
