<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Register User</div>

        <form action="#" th:action="@{/createUser}" th:object="${user}" method="post"  commandName="user">
            <p>Name: <input type="text" name="currentGivenName"  th:value="${user.currentGivenName}" th:readonly="true"/></p>
            <p>Surname: <input type="text"  name="currentFamilyName" th:value="${user.currentFamilyName}" th:readonly="true"/></p>
            <p>Date of Birth: <input type="text" name="dateOfBirth" th:value="${user.dateOfBirth}" th:readonly="true" /></p>
            <p>eIDAS id: <input type="text" name="personIdentifier" th:value="${user.personIdentifier}" th:readonly="true" /></p>
              <input type="text" name="eid" th:value="${user.eid}" th:readonly="true" th:hidden="true"/> 
               <input type="text" name="profileName" th:hidden="true"/> 
            <p>email: <input type="text" th:field="*{email}" /></p>
            <p>mobile: <input type="text" th:field="*{mobile}" /></p>
            <p>affiliation: <input type="text" th:field="*{affiliation}" /></p>
            <p>country <input type="text" th:field="*{country}" /></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>

    </body>
</html>
