<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Smart Class Teams</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Below you will find instructions of how to access MS Teams of the smart class</div>
        <p th:text="${TeamName}">test name</p>
        <div th:text="${TeamURL}">test</div>
    </body>
</html>
